* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    text-decoration-line: none;
    font-family: SUITE-Regular;
    list-style-type: none;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GoryeongStrawberry';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 70px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/* Ctrl + K + 0(숫자) : 전체 접기  || Ctrl + K + J : 전체 펼치기 */

/*-------------------- 헤더영역 ------------------------*/
.header_box {
    /* border-bottom: none; */
    width: 1920px;
    height: 70px;
    background-color: white;
    position: fixed;
    z-index: 2;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.header_list {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 970px;
    height: 69px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    
}




/* 로고 영역 */
.logo {
    font-size: 30px;
    font-style: italic;
    height: 35px;
}

.logo_p {
    color: #D1B6DD;
    font-family: GoryeongStrawberry;
}

.logo_m {
    color: #00C7AE;
    font-family: GoryeongStrawberry;
}



/* 좌측 네비 영역 */
.h_nav_left {
    font-size: 16px;
    height: 17px;
    font-weight: bold;
}

.h_nav_left li {
    float: left;
    margin-right: 20px;
}



/* 검색 영역 */
.search {
    width: 280px;
    height: 35px;
    border-radius: 7px;
    background: #F6F6F6;
    display: flex;
    align-items: center;

}

.search img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.service {
    width: 190px;
    height: 20px;
    font-family: SUITE-Regular;
    font-size: 14px;
    margin-left: 10px;
    color: gray;
}



/* 우측 네비 영역*/
.h_nav_right {
    width: 200px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gosu {
    width: 80px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background-color: #00C7AE;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: SUITE-Regular;
}